html {
 position:relative;
}


body {
 background-color: #2B65EC ;
 padding-left: 10px;
 padding-top: 150px;
 font-family: 'Roboto', sans-serif;
 color: white;

}

h1 a{
 color: white;
 text-decoration: none;
 padding-left: 15px;
 font-size: 50px;
 font-family: 'Press Start 2P', cursive;
}

a {
 color: #EDB32B ;
 text-decoration: none;
}

input, textarea {

  width: 250px;
  text-align: center;
}


.tabs, .shots, .add-tab-form, .new-shot-form, .tab-descrip, .chaser, .add-chaser-form {
 border: solid brown;
 border-radius: 50px;
 padding: 20px;
 text-align: center;
 width: 300px;
 margin: 0 auto;
 margin-bottom: 50px;

}

.tab-descrip {
 width: 1000px;
 padding: 0px;
 margin-bottom: 0;
}


.tabs {
 background-image: url("images/receipt.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
}

.shots {
 width: 500px;
 background-image: url("images/shotglass.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
}

.chaser  {
 width: 500px;
 background-image: url("images/soda.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
}

.nav-bar {
 position: absolute;
 top: 0;
 left: 0;
 z-index: 9999;
 width: 100%;
 height: 150px;
 background-color: #EDB32B ;
 text-align: center;
}

.nav-bar img{
 height: 100px;
 width: 100px;
}

.footer {
 position: fixed;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1px;
 background-color: #EDB32B ;
 text-align: center;
}