<h2>{{vm.tab.name}}</h2>
<!-- <p><a data-ui-sref="tabShow({id: tab.id})">{{tab.name}}</a></p> -->
<p>{{vm.tab.description}}</p>
<hr>
<div data-ng-repeat="shot in vm.shots">
  <p> <a data-ui-sref="shotShow({tab_id: shot.tab_id, id: shot.id})">{{shot.title}}</a> </p>
  <p>--{{shot.author}}</p>
</div>


<h3>Take A Shot</h3>
<form ng-submit="vm.create()">
  <input type="text" placeholder="Title" ng-model="vm.newShot.title">
  <input type="text" placeholder="Author" ng-model="vm.newShot.author">
  <textarea placeholder="Content" ng-model="vm.newShot.content"></textarea>
  <button type="submit">Add Shot</button>
</form>
